<!DOCTYPE html>
<html  ng-app="App">
  <head>
    <meta charset="utf-8"/>
    <link href="boostrap/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="boostrap/bootstrap-theme.min.css">
    <link href="css.css" type="text/css" rel="stylesheet"/>
  	<script src="boostrap/jquery.min.js"></script>
  	<script src="boostrap/bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <script src="javascript.js"></script>
    <title>

    </title>

  </head>
  <body ng-controller="firstController">
    <div id="profile">
      <div id="topcard-file">
        <div id="topcard">
          <div id="profile-picture">
            <img src="{{mydata.avatar}}"/>
          </div>
          <div id="profile-overview">
            <div id="profile-overview-content">
              <div id="account">
                <h1>{{mydata.name}}</h1>
                <button class="edit" ng-click="editname()"></button>
                <div id="popup" class="bubble" ng-show="displayname">
          		    <h4>Name</h4>
          		    <form id="editinformation">
          		        <input type="text" ng-model="edit_name"></input>
          		        <button class="btn btn-primary" ng-click="savename()">Save</button>
          		        <button  class="btn" ng-click="displayname=false">Cancle</button>
          		    </form>
          	  	</div>
                <p class="title">{{mydata.Job}}<button class="edit" ng-click="editjob()"></button></p>
                <div id="popupJob" class="bubble" ng-show="displayjob">
          		    <h4>Job</h4>
          		    <form id="editinformation">
          		        <input type="text" ng-model="edit_job"></input>
          		        <button  class="btn btn-primary" ng-click="savejob()">Save</button>
          		        <button  class="btn" ng-click="displayjob=false">Cancle</button>
          		    </form>
          	  	</div>
                <h3>Information<button class="edit" ng-click="editinformation()"></button></h3>
                <div id="popupinfor" class="bubble" ng-show="displayinformation">
          		    <h4>Information</h4>
          		    <form id="editinformation" name="myforminformation">
          		        Birthdate:<input type="date" ng-model="edit_birthdate"></input>
                      Address:<textarea ng-model="edit_address"></textarea>
          		        <button  class="btn btn-primary" ng-click="saveinformation()" ng-disabled = "myforminformation.$invalid">Save</button>
          		        <button  class="btn" ng-click="displayinformation=false">Cancle</button>
          		    </form>
          	  	</div>
                <table id="information">
                  <tr>
                    <th>
                      <a href="#">Birthdate</a>
                    </th>
                    <td>
                      <ul id="lis">
                        <li>
                          <a class="link" href="#">{{mydata.birthdate | date: 'dd/MM/yyyy'}}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <a href="#">Address</a>
                    </th>
                    <td>
                      <ul id="lis">
                        <li>
                          <a class="link" href="#">{{mydata.address}}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <a href="#">Education</a>
                    </th>
                    <td>
                      <ul id="lis">
                        <li>
                          <a class="link" href="#background-education">{{mydata.educations[0].name}}</a>
                        </li>

                      </ul>
                    </td>
                  </tr>
                </table>
                <div id="container">
                    <div class="row">
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Get update on what {{mydata.name}} is sharing public">Follow</button>
                        <button type="button" id="btn"class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#">View recent activity</a></li>
                          <li><a href="#">Send Jeff InMail</a></li>
                          <li><a href="#">Connect</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Share profile</a></li>
                          <li><a href="#">Save to PDF</a></li>
                          <li><a href="#">Block or report</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div id="action-description">
                  <p>Know {{mydata.name}}
                  <a href="#">Connect</a>
                  </p>
                </div>
              </div>
            </div>
            <div id="logo">
              <a href="#">fluencer</a>
            </div>
            <div id="flower-count">
              <strong>4,033,963</strong>
              followers
            </div>
          </div>
        </div>
        <div class="accordion" id="accordion2">

         <div class="accordion-group">
          <div id="collapseTwo" class="accordion-body collapse">

              <div id="contact-info-section">
              <table id="internet-presence">
                <tr class="web">
                  <th>
                      <h3>Contact<button class="edit" ng-click="editcontact()" ></button></h3>
                      <div id="popupcontact" class="bubble" ng-show="displaycontact">
                		    <h4>Contact</h4>
                		    <form id="editinformation" name="myformcontact">
                		        Email:<input type="email" ng-model="edit_email"></input>
                            Website:<input type="text" ng-model="edit_website"></input>
                            Phone:<input type="text" ng-model="edit_phone"></input>
                		        <button  class="btn btn-primary" ng-click="savecontact()" ng-disabled = "myformcontact.$invalid">Save</button>
                		        <button  class="btn" ng-click="displaycontact=false">Cancle</button>
                		    </form>
                	  	</div>
                  </th>
                </tr>
                <tr class="web">
                  <th>
                    <img src="pictures/email.png"/>
                    <a href="#" >{{mydata.contact.email}}</a>
                  </th>
                </tr>
                <tr class="web">
                  <th>
                    <img src="pictures/web.png"/>
                    <a href="http://teamdas.esy.es" >{{mydata.contact.website}}</a>
                  </th>
                </tr>
                <tr class="web">
                  <th>
                    <img src="pictures/phone.png"/>
                    {{mydata.contact.phone}}
                  </th>
                </tr>
              </table>

            </div>
            </div>
          <div id="profile-actions">
                <div id="public-profile">
                  <a href="#">{{mydata.linklinke}}</a>
                </div>
                <div id="show-more-info" class="SeeMore2" data-toggle="collapse" href="#collapseTwo">
                  <img src="pictures/folder.png"/>
                  <span>Contact Info</span>
                </div>
              </div>

        </div>
        <div id="profile-activity">
          <h2>Posts</h2>
          <div id="marquee-header-container">
            <h4>Published by Jeff</h4>
            <a href="#">See more</a>
            <img src="pictures/arrowright.png"/>
            <ul id="influencer-posts-list">
              <li class="influnencerpost">
                <a href="#">
                  <img src="pictures/slider1.jpg">
                </a>
                <div class="influencer-info-wrapper">
                  <h5><a href="#">My Interview with Oprah</a></h5>
                  <span>October 15,2015</span>
                </div>
              </li>
              <li class="influnencerpost">
                <a href="#">
                  <img src="pictures/slider1.jpg">
                </a>
                <div class="influencer-info-wrapper">
                  <h5><a href="#">My Interview with Oprah</a></h5>
                  <span>October 15,2015</span>
                </div>
              </li>
              <li class="influnencerpost">
                <a href="#">
                  <img src="pictures/slider2.jpg">
                </a>
                <div class="influencer-info-wrapper">
                  <h5><a href="#">Always Be Learning: LinkedIn to Acquire lynda.com</a></h5>
                  <span>April 9, 2015</span>
                </div>
              </li>
              <li class="influnencerpost">
                <a href="#">
                  <img src="pictures/slider3.jpg">
                </a>
                <div class="influencer-info-wrapper">
                  <h5><a href="#">How LinkedIn is Helping Power the President's...</a></h5>
                  <span>March 10, 2015</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="background">
          <h2>Bacground</h2>
          <div id="background-content">
            <div id="background-summary-container">
              <div class="summary-header">
                <img src="pictures/borrow.png"/>
                <h3> Summary</h3>

              </div>
              <div id="sumary-item">
                <button class="edit" ng-click="editsummary()"></button>
                <div id="content-sumary" ng-show="displaysummary">
                  <h3>Summary</h3>
                  <textarea id="expertise_comments-editExpertiseForm-error" cols="200" rows="12" ng-model="edit_summary"></textarea>
                  <button  class="btn btn-primary" ng-click="savesummary()">Save</button>
                  <button  class="btn" ng-click="displaysummary=false">Cancle</button>
                </div>
                <pre>{{mydata.summary}}</pre>
              </div>
            <div id="background-experience-container">

              <div class="summary-header">
                <img src="pictures/borrow1.png"/>
                <h3> Experience</h3>
                <button class="edit-add" title="Click to add a new position" data-add-type="background-experience" data-trk="{ "componentKey" : "profile-edit-position-form", "source" : "prof-edit-background-add_position-link" }" ng-click="editexperence(-1)">+ Add Expression</button>
              </div>

              <div class="content-experience" ng-show="displayexperene">
                <form name="myForm">
                  <b>Company Name:</b><input  type="text" ng-model="edit_company" required></input>
                  <b>Logo:</b><input type="url" name="pic" accept="image/*" ng-model="edit_logo" ></input>
                  <b>Location:</b><input type="text" ng-model="edit_location" required></input>
                  <b>Time Period:(YYYY-MM-DD)</b><input type="date" ng-model="edit_time" ></input>
                  <b>Description:</b><textarea style="width:95%;height:200px;" ng-model="edit_describe" required></textarea>
                  <button  class="btn btn-primary" type="submit" ng-click="saveexperene(index)" ng-disabled="myForm.$invalid">Save</button>
                  <button  class="btn" ng-click="displayexperene = false">Cancle</button>
                </form>

              </div>
              <div class="experience-Director"ng-repeat="experience in mydata.experiences">
            	<div class = "experience-logo">
                  <a href="#">
                    <strong>
                      <img src="{{experience.Logo}}" width="60" height="60"/>
                    </strong>
                  </a>
                </div>
                <div class="experience-link">
                  <h4><a href="#">{{experience.position}}</a><a href="#background-experience-container"><button class="edit" ng-click="editexperence($index)"></button></a></h4>
                  <span><strong><a href="#">{{experience.company}}</a></strong></span>
                  <br>
                  <span>Time {{experience.time | date:'dd/MM/yyyy'}}</span>
                </div>
                <div class="sumary-field-show-more">
                  <pre>{{experience.Describe}}</pre>
	            </div>
            </div>
            </div>
          </div>
    		</div>
    		<div id="background-Project">
    			<div class="summary-header">
    				<img src="pictures/project.png"/>
    				<h3>Project</h3>
            <button class="edit-add" title="Click to add a new Project" data-add-type="background-Project" data-trk="{ "componentKey" : "profile-edit-position-form", "source" : "prof-edit-background-add_position-link" }" ng-click="editproject(-1)">+ Add Project</button>
    			</div>
          <div class="content-experience" ng-show="displayproject">
            <form name="myFormproject">
              <b>Project Name:</b><input  type="text" ng-model="edit_project" required></input>
              <b>Logo:</b><input type="url" name="pic" accept="image/*" ng-model="edit_logoproject" ></input>
              <b>Date(YYYY-MM-DD):</b><input type="date" ng-model="edit_timeproject" ></input>
              <b>Description:</b><textarea style="width:95%;height:200px;" ng-model="edit_describeproject" required></textarea>
              <button  class="btn btn-primary" type="submit" ng-click="saveproject(indexproject)" ng-disabled="myFormproject.$invalid">Save</button>
              <button  class="btn" ng-click="displayproject = false">Cancle</button>
            </form>

          </div>
    			<div class="content-project" ng-repeat="project in mydata.projects">
              		<div class = "experience-logo">
	                  <a href="#">
	                    <strong>
	                      <img src="{{project.Logo}}" width="60" height="60"/>
	                    </strong>

	                  </a>
	                </div>
	              	<div class="experience-link">
	                  <h4><a href="#">{{project.name}}</a><a href="#background-Project"><button class="edit" ng-click="editproject($index)"></button></a></h4>
	                  <br>
	                  <span><time>Time {{project.time | date:'dd/MM/yyyy'}}</time></span>
	                </div>
	                <div class="sumary-field-show-more">
	                  <p>
	                    {{project.Describe}}
	                  </p>
		            </div>
	             </div>
    		</div>
    		<div id="background-skill">
    			<div class="summary-header">
    				<img src="pictures/skill.png"/>
    				<h3>Skill</h3>
            <button class="edit-add" title="Click to add a new skill" data-add-type="background-experience" data-trk="{ "componentKey" : "profile-edit-position-form", "source" : "prof-edit-background-add_position-link" }" ng-click="editskill()">+ Add Skill</button>
            <button class="edit-add" title="Click to add a new other skill" data-add-type="background-experience" data-trk="{ "componentKey" : "profile-edit-position-form", "source" : "prof-edit-background-add_position-link" }" ng-click="editotherskill()">+ Add Other Skill</button>
          </div>
          <div class="content-experience" ng-show="displayskill">
            <form name="myFormskill">
              <b>Skill:</b><input  type="text" ng-model="edit_skill" required></input>
              <button  class="btn btn-primary" type="submit" ng-click="saveskill()" ng-disabled="myFormskill.$invalid">Save</button>
              <button  class="btn" ng-click="displayskill = false">Cancle</button>
            </form>
          </div>
          <div class="content-experience" ng-show="displayotherskill">
            <form name="myFormotherskill">
              <b>Other Skill:</b><input  type="text" ng-model="edit_otherskill" required></input>
              <button  class="btn btn-primary" type="submit" ng-click="saveotherskill()" ng-disabled="myFormotherskill.$invalid">Save</button>
              <button  class="btn" ng-click="displayotherskill = false">Cancle</button>
            </form>

          </div>
    			<div id="profile-skill">
    				<h4>Top skill</h4>

    				<ul id="list-skill">
    					<li ng-repeat="skill in mydata.skills">
    						<div class="item-skill">99</div>
    						<div class="skill-pill">{{skill}}</div>
                <button class="remove" ng-click="removeskill($index)"></button>
    				</ul>
    				<h4>Jeff also knows about</h4>

    				<ul id="skill-section">
    					<li ng-repeat="skill1 in mydata.differentskills">
    						<div class="item-skill">99</div>
    						<div class="skill-pill">{{skill1}}</div>
                <button class="remove" ng-click="removeotherskill($index)"></button>
    					</li>

    				</ul>
    			</div>
    		</div>
    		<div id="background-education">
    			<div class="summary-header">
            <img src="pictures/education.png"/>
            <h3> Education</h3>
            <button class="edit-add" title="Click to add a new Education" data-add-type="background-education" data-trk="{ "componentKey" : "profile-edit-position-form", "source" : "prof-edit-background-add_position-link" }" ng-click="editeducation(-1)">+ Add Education</button>
        	</div>
          <div class="content-experience" ng-show="displayeducation">
            <form name="myFormeducation">
              <b>School Name:</b><input  type="text" ng-model="edit_education" required></input>
              <b>Logo:</b><input type="url" name="pic" accept="image/*" ng-model="edit_logoeducation" ></input>
              <b>Major:</b><input  type="text" ng-model="edit_major" required></input>
              <b>graduate(YYYY-MM-DD):</b><input type="date" ng-model="edit_timeeducation" ></input>
              <b>Description:</b><textarea style="width:95%;height:200px;" ng-model="edit_describeeducation" required></textarea>
              <button  class="btn btn-primary" type="submit" ng-click="saveeducation(indexeducation)" ng-disabled="myFormeducation.$invalid">Save</button>
              <button  class="btn" ng-click="displayeducation = false">Cancle</button>
            </form>

          </div>
        	<div class="content-education" ng-repeat="education in mydata.educations">
        		<div class = "experience-logo">
              <a href="#">
                <strong>
                  <img src="{{education.logo}}" width="60" height="60"/>
                </strong>
              </a>
            </div>
          	<div class="experience-link">
              <h4><a href="#">{{education.name}}</a><a href="#background-education"><button class="edit" ng-click="editeducation($index)"></button></a></h4>
              <span><strong><a href="#">{{education.major}}</a></strong></span>
              <br>
              <span><time>Time {{education.graduate | date:'dd/MM/yyyy'}}</time></span>
            </div>
            <div class="sumary-field-show-more">
              <pre>{{education.Describe}}</pre>
          </div>
         </div>
    		</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

  </body>

</html>
